extends ./layout

block content
  style.
    #map {
      width: 100%;
      height: 500px;
    }

  .page-header
    h3 Maps
    #proche

  #map

  script.
    var places =!{JSON.stringify(places)};
    var shoes =!{JSON.stringify(sneakers)};
    var geo =!{JSON.stringify(ip)};
    var dist = [];
    var proche = { 'model': shoes, 'distance' : 99999999999999999999999999};
    var html = '';

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 50, lng: -50 },
        zoom: 3
      });

      shoes.forEach(function (shoes) {
            var lat = 0;
            var lng = 0;
            places.forEach(function (places) {
                if(shoes.place === places.name){
                    lat = places.latitude;
                    lng = places.longitude;
                }
            });

            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                title: shoes.model
            });

            if(geo != null){
                var client = new google.maps.LatLng(geo[0],geo[1]);
                var place = new google.maps.LatLng(lat,lng);
                var distance = google.maps.geometry.spherical.computeDistanceBetween( client, place);
                var res = { 'model': shoes, 'distance' : distance/1000};
                dist.push(res);
            }


            var infowindow = new google.maps.InfoWindow({
                content: '<div>'
                + '<h4>' + shoes.brand + ' - ' + shoes.model + '</h4>'
                + '<img class="thumb_map" src="/img/' + shoes.model + '.jpg">'
                + '<h5>Place : ' + shoes.place + '</h5>'
                + '<h5>Price : ' + shoes.price + 'e</h5>'
                + '<a href="/sneakers/'+ shoes.model +'" class="btn btn-primary btn-sm active" role="button">More</a>'
                + '</div>'
            });

            marker.addListener('click', function(){
                infowindow.open(map, marker);
            });
        });
        for(var i= 0; i < dist.length; i++){
            if(dist[i].distance < proche.distance){
                proche = dist[i];
            }
        }

        if(geo != null){          
            html += '<div> Closest place : '+ proche.model.place+'</div>';
            html += '<img class="thumb_map" src="/img/' + proche.model.model + '.jpg">'
            html += '<div>Model : '+ proche.model.brand + ' - ' + proche.model.model + '</div>';
            html += '<br><a class="btn btn-primary btn-sm active" href="/sneakers/'+ proche.model.model +'" role="button" aria-pressed="true">More</a>'
        }else{
            html += "<div>unfortunately we can't locate where you are..</div>";
        }
        document.getElementById("proche").innerHTML = html;
    }




  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB9p-x47L2JxY4TxLmNSi3ivI2E9cQNtHs&libraries=geometry&callback=initMap')
