extends layout

block content
  .page-header
    h3 All Sneakers

    .row
        for shoes in sneakers
            .col-sm-4
                    img(class="thumb" src='/img/'+ shoes.model + '.jpg')
                    h3= shoes.brand + ' ' + shoes.model
                    h4= shoes.place
                    h4= shoes.price + 'e'
                    a(href='/sneakers/'+shoes.model class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true") Voir
